.preview
oh-package-lock.json5
code-linter.json5
__pycache__/
*.pyc
.gradle/
.externalNativeBuild/
.vscode/
.DS_Store
/node_modules
/oh_modules
/build
/.preview
preview
/.cxx
/.test
.gradle
.externalNativeBuild
coverage
__pycache__
.vscode
Thumbs.db
*.log
logs
*.tmp
.idea/
*.iml
.hvigor/
local.properties
oh-package.json5.lock
.clangd
.clang-format
.clang-tidy
dist/
out/
build/
.cxx/
.local/
/detail
/shell
.appanalyzer
*.xls
*.xlsx
*.xlsm
*.csv
*.swp
/material
*.csr
*.p12
*.cer
*.p7b